<%- include('../partials/header') %>
<table id="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Release<br>Year</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% games.backlog.forEach(function(backlogs) { %>
          <tr>
            <%backlogs.games.forEach(function(game){ %> 
            <td><%= game.title %></td>
            <td><%= game.released %></td>
            <td><a href="/games/<%= game._id %>">DETAILS</a></td>
          </tr>
        <% }); %> 
          <% }); %>
        </tbody>
      </table>
    </table>
<%- include('../partials/footer') %>