<%- include('../partials/header') %>
<div class = "gdocument" style="position: absolute; left: 50%;">
    <div style="position: relative; left: -50%;">
    
    <section id="games-detail">
    <h1><%= title %></h1>
    <div>Title:  <%= game.title %></div>
    <div>Release Year:  <%=game.released %></div>
    <% if(!noDev){ %> 
    <div>Developer:<%=game.developer.studio;%> </div>
    <% } %> 
    <% if(user){ %> 
    <form id="add-game-developer" action="/games/<%= game._id %>/developers" method="POST">
        <select name="developerId">
          <%- developers.map(developer => 
            `<option value="${developer._id}">${developer.studio} (Head Designer:${developer.director})</option>`
          ).join('') %>
        </select>
      <button type="submit">Assign Developer</button>
        <a href="/developers/new"><input type =button value ='Add Developer'></a>
        <% } %>
    </form>
    <% if ((user && user._id) && !isIncluded) { %>
    <form id="add-to-backlog" action="/games/<%= game._id %>/gamers" method="POST">
        <button name = "backlog" value =`"${game._id}"` >Add to Backlog</button>
    </form>
    <% } %>
    <% if (isIncluded) { %>
        <form id="delete-from-backlog" action="/gamers/<%= game._id %>?_method=DELETE"
            method= "POST">
            <button name = "backlog" value =`"${game._id}"` >Remove from Backlog</button>
        </form>
        <% } %>
    </br>
    <%if (isIncluded) {%>
        <div class="input-group input-group-lg">
        <form id="add-to-progress" action="/games/<%= game._id %>/progress" method="POST">
        <textarea class="form-control" name="progress" cols = "60" rows = "7"></textarea>
        <button type="submit">Add Progress</button>
        </form>
        </div>
    <% } %>
    <% if (isIncluded) { %>
        <form id ="edit-progress" action="/games/<%= game._id %>/edit" method = "GET">
        <button type="submit">Edit Progress</button>
        </form>
        <% } %>
    <%if (isIncluded) {%>
        <% gamer.backlog.forEach(function(backlogs,bidx){ %>
            <% if(backlogs.games == game.id){ %>
                <%-backlogs.progress%>
            <% } %> 
        <%});%>
    <% }; %>
            </div>
            </div>
        </div>
    </section>
<%- include('../partials/footer') %>