<%- include('../partials/header') %>
<section id="games-detail">
    <div>Title: </div>
    <div><%= game.title %></div>
    <div>Release Year: </div>
    <div><%= game.released %></div>
    <div>Developer:</div>
    <ul>
      <%- game.developer.map(games => 
        `<li>${games.studio} <small>${games.director}</small></li>`
      ).join('') %>
    </ul>
    <form id="add-game-developer" action="/games/<%= game._id %>/developers" method="POST">
        <select name="developerId">
          <%- developers.map(developer => 
            `<option value="${developer._id}">${developer.studio} Head Designer:${developer.director}</option>`
          ).join('') %>
        </select>
        <button type="submit">Add Developer</button>
    </form>
    <% if ((user && user._id) && !isIncluded) { %>
    <form id="add-to-backlog" action="/games/<%= game._id %>/gamers" method="POST">
        <button name = "backlog" value =`"${game._id}"` >Add to Backlog</button>
    </form>
    <% } %>
    <% if (isIncluded) { %>
        <form id="delete-from-backlog" action="/gamers/<%= game._id %>?_method=DELETE"
            method= "POST">
            <button name = "backlog" value =`"${game._id}"` >Remove from Backlog</button>
        </form>
        <% } %>
    <%if (isIncluded) {%>
        <form id="add-to-progress" action="/games/<%= game._id %>/progress" method="POST">
        <textarea name="progress"></textarea>
        <button type="submit">Add Progress</button>
    </form>
    <% } %>
    <% if (isIncluded) { %>
        <form id ="edit-progress" action="/games/<%= game._id %>/edit" method = "GET">
        <button type="submit">Edit Progress</button>
        <% } %>
    <%if (isIncluded) {%>
        <% gamer.backlog.forEach(function(backlogs,bidx){ %>
            <% if(backlogs.games == game.id){ %>
                <tr>
                    <td><%=backlogs.progress%></td>
                </tr>
            <% } %> 
        <%});%>
    <% }; %>
   
<%- include('../partials/footer') %>